bin
obj
*.xslt.sql
Installer/Executable
packages
CreateDB.sql
*.chw
.idea
*.user
.idea
*.suo
*.xap
*.dbmdl
UpgradeLog.htm
FakesAssemblies
Azure
UnitTests
TestResults
External/DBScripts/FillDefaultTemplates.sql
Temp
.idea
EP5Proto.Web.GUI/Logs
*.orig
UpgradeLog*.htm
csx
rcf

Utils/OldAccountsRedirector/OldAccountsRedirector/Publish/
EP8.sln.ide
deployed/*
PrecompiledWeb/*