.row {
    padding: 5px 0;
}

.indent {
    width: 20px;
    display: inline-block;
}

.message_editor {
    display: flex;
}

.message_editor input {
    width: 500px;
}

.message_editor_label {
    width: 170px;
    line-height: 30px;
}

.message_editor_like .message_editor_label {
    color: rgba(15, 153, 96);
}

.message_editor_not_like .message_editor_label {
    color: rgba(219, 55, 55);
}

.message_editor_icon {
    cursor: pointer;
    padding: 7px;
    margin-left: 10px;
}

.numeric_field {
    display: inline-flex;
}