@media (min-width: 1400px) {
    .container {
        max-width: 1370px;
    }
}

@media (min-width: 1600px) {
    .container {
        max-width: 1570px;
    }
}

.form-inline .form-control {
    vertical-align: central;
    width: auto;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 280px;
}*/

.logs-table .log-message {
    white-space: pre-wrap; /* CSS3 */
    white-space: -moz-pre-wrap; /* Firefox */
    white-space: -pre-wrap; /* Opera <7 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* IE */
    max-width: 800px;
}

#filters {
    padding-bottom: 20px;
}
#filters .input-group.date{
    width: 234px;
}

#filterRole {
    min-width: 400px;
}

#filterMessage {
    min-width: 600px;
}

#filters .form-group {
    padding-top: 10px;
}

.min-width-130 {
    min-width: 130px;
}

.min-width-500 {
    min-width: 500px;
}

.pointer {
    cursor: pointer;
}

.msg-like .lbl-msg-notlike {
    display: none;
}
.msg-notlike .lbl-msg-like {
    display: none;
}

.msg-like input.form-control {
    background: rgb(236, 252, 236);
}

.msg-notlike input.form-control {
    background: rgb(255, 247, 247);
}

.loading-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 100;
    background:url("images/ajax-loade-white-bgr.gif") no-repeat center 50px #fff;
    background:url("images/ajax-loade-white-bgr.gif") no-repeat center 50px rgba(255,255,255,0.95);
    -ms-opacity: .7;
    opacity: .7;
}

.min-height-100 {
    min-height: 100px;
}

.row-padding-bottom {
    padding-bottom: 20px;
}

.msg-notlike input,
.msg-like input {
    display: inline-block;
    max-width: 70%;
}

.float-right {
    float: right;
}