@model IEnumerable<AzureLogsViewer.Model.Entities.WadLogEntry>
@{
    ViewBag.Title = "Slack Integration";
}

@section scripts
{
    <script type="text/javascript">
        $(function() {
            var vm = new app.SlackIntegrationViewModel({
                listUrl: '@Url.Action("GetIntegrations", "SlackIntegration")',
                saveUrl: '@Url.Action("SaveIntegration", "SlackIntegration")'
            });

            vm.init();
            ko.applyBindings(vm, $("#root")[0]);
        });

    </script>
}

<div id="root" class="container">
    <div class="row row-padding-bottom">
        <div class="col-md-12">
            <h3>Slack Integrations</h3>
            <!-- ko 'if': isListVisible --> 
            <button type="button" class="btn btn-primary" data-bind="click: create">Create</button>
            <!-- /ko -->
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 min-height-100">
            <div class="loading-overlay" data-bind="visible: loading"></div>   
            
            <!-- ko template: { name: 'ko-infos-table', 'if': isListVisible } -->
            <!-- /ko -->
            
            <!-- ko template: { name: 'ko-edit-info', 'if': isEditFormVisible, data: editForm } -->
            <!-- /ko -->

        </div>
    </div>
</div>

<script id="ko-infos-table" type="text/html">
<table class="table table-striped table-bordered table-condensed">
    <thead>
        <th>WebHook</th>
        <th>Chanel</th>
        <th>Actions</th>
    </thead>
    <tr>

    </tr>
    <tbody data-bind="foreach: infos">
        <tr>
            <td data-bind="text:webHookUrl"></td>
            <td data-bind="text:chanel"></td>
            <td><a href="#" data-bind="click: $parent.edit.bind($parent,$data)">Edit</a></td>
        </tr>
    </tbody>
                    
</table>
</script>

<script id="ko-edit-info" type="text/html">
<form>
  <div class="form-group">
    <label for="webHookUrl">WebHook Url</label>
    <input class="form-control" id="webHookUrl" data-bind="value: webHookUrl">
  </div>

  <div class="form-group">
    <label for="chanel">Chanel</label>
    <input class="form-control" id="chanel" data-bind="value: chanel">
  </div>

  <div class="form-group">
    <label for="messagePattern">Message Pattern</label>
    <input class="form-control" id="messagePattern" data-bind="value: messagePattern">
  </div>
  
  <div class="checkbox">
    <label>
      <input type="checkbox" data-bind="checked: enabled"> Enabled
    </label>
  </div>
  <button type="button" class="btn btn-primary" data-bind="click: $parent.saveEdit.bind($parent)">Save</button>
  <button type="button" class="btn btn-default" data-bind="click: $parent.cancelEdit.bind($parent)">Cancel</button>
</form>
    
</script>
