.field {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.field input {
    width: 700px;
}

.field textarea {
    width: 700px;
    height: 200px;
}

.field_label {
    width: 170px;
    line-height: 30px;
}

.cancel {
    margin-left: 10px;
}