@model IEnumerable<AzureLogsViewer.Model.Entities.WadLogEntry>
@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <table class="table table-striped table-bordered table-condensed logs-table">
            <thead>
                <th>Date</th>
                <th>Role</th>
                <th>Level</th>
                <th>Message</th>
            </thead>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.EventDateTime</td>
                    <td>@item.Role</td>
                    <td>@item.Level</td>
                    <td><div class="log-message">@item.Message</div></td>
                </tr>
            }
        </table>
    </div>
</div>