@model IEnumerable<AzureLogsViewer.Model.Entities.WadLogEntry>
@{
    ViewBag.Title = "Home Page";
}

@section scripts
{
    <script type="text/javascript">
        $(function() {
            window.tableTemplate = _.template($("#u-logs-table").html());

            var vm = new app.LogsViewModel();
            ko.applyBindings(vm, $("#root")[0]);
        });

    </script>
}

<script id="ko-logs-filters" type="text/html">
    <div id="filters" class="row">
    <div class="col-md-12">
        <h3>Filters</h3>
        <form class="form-inline">
            <datetimepicker params="value: from, label: 'From'" ></datetimepicker>
            <datetimepicker params="value: to, label: 'To'" ></datetimepicker>
            <div class="form-group">
                <label for="filterRole"  class="control-label">Role</label>
                <input id="filterRole" type="text" class="form-control" data-bind="value: role">
            </div>
            <div class="form-group">
                <label for="filterLevel" class="control-label">Level</label>
                <input id="filterLevel" type="text" class="form-control" data-bind="number: level">
            </div>
            <!-- ko foreach: messageFilters -->
            <div></div>
            <div class="form-group" data-bind="css: 'msg-' + type">
                <label class="control-label min-width-130 lbl-msg-like">Message LIKE</label>
                <label class="control-label min-width-130 lbl-msg-notlike">Message NOT LIKE</label>
                <input type="text" class="form-control min-width-500" data-bind="value: text, hasFocus: focused">
                <span class="glyphicon glyphicon-remove pointer" data-bind="click: $parent.removeMessage"></span>
            </div>
            <!-- /ko -->
            <div></div>
            <div class="form-group">
                <actionsbtn params="title: 'Add message filter ', items: addMessageItems"></actionsbtn>
            </div>
        </form>
    </div>
</div>    
</script>

<script id="u-logs-table" type="text/html">
    <table class="table table-striped table-bordered table-condensed logs-table">
                <thead>
                <th>Date</th>
                <th>Role</th>
                <th>Level</th>
                <th>Message</th>
                </thead>
        
                <% _.each(logs, function(item) { %> 
                    <tr>
                        <td><%= app.dateUtility.formatDateTime(item.eventDateTime) %></td>
                        <td><%= item.role %></td>
                        <td><%= item.level %></td>
                        <td><div class="log-message"><%= item.message %></div></td>
                    </tr>
                <% }); %>
                    
            </table>
</script>

<div id="root" class="container">
    <!-- ko template: { name: 'ko-logs-filters', data: filter } -->
    <!-- /ko -->
    
    <div class="row">
        
        <div class="col-md-12 min-height-100">
            <div class="loading-overlay" data-bind="visible: loading"></div>    
            <div data-bind="html: tableTemplate({ logs: logs()})"></div>
        </div>
</div>
</div>